body{
    margin: 0px;
}
.top{
    background-image: url(./images/eclipse.webp);
    background-size: 100%;
    
}
.header{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 100px;
    padding-right: 250px;
}
.header img{
    width: auto;
    height: 60px;
    padding-top: 10px;
}

ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;

}

.content-one{
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 70px 100px;
    display: flex;
    justify-content: space-between;
    gap: 100px;

}
.website-desc{
    padding-top: 10px;
}
.hero-text{
    font-size: 48px;
    font-weight: 900;
}

.hero-subtext{
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 400;
    margin: 5px 0px;
    margin-bottom: 9px;
    font-family: 'Roboto', sans-serif;
    width: 400px;

}

button{
    background-color: #3882f6;
    color: white;
    border-radius: 8px;
    padding: 5px 23px;
    border: whitesmoke;
    font-weight: bold;
    font-size: 15px;
}

.web-image img{
    height: auto;
    width: 550px;
    filter: drop-shadow(4px 4px 50px black);
}

.struggler-heading{
    font-size: 36px;
    font-weight: 900;
    font-family: 'Roboto', sans-serif;
    color: #1F2937;
    width: fit-content;
    margin: 30px auto;
}

.struggler-options{
    padding: 20px 110px;
    display: flex;
    gap: 110px;
    justify-content: space-around;
}

.struggler img{
    width: auto;
    height: 400px;
    filter: drop-shadow(2px 4px 6px black);
    
}

.struggler p, .struggler h3{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin:0px;
    margin-top: 10px;
}

.struggler p{
    margin: 5px;
}

.quote{
    height: 300px;
    display:flex;
    background-color: azure;
    margin-top: 50px;
}

.quote p{
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 200;
    margin:auto;
    padding:0px 300px;
}
.cta{
    font-family: 'Roboto', sans-serif;
    background-color: #3882f6;
    color: white;
    margin: 100px 300px;
    padding: 40px 0px;
    border-radius:30px;
    display: flex;
    justify-content: space-around;
}

.cta button{
    font-size: 20px;
    flex: 0 0 auto;
    border: 2px solid;
    border-radius: 20px;
}

.footer{
    color: white;
    text-align: center;
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
    padding: 1px;

}